---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "React",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },
  {
    title: "Astro",
    icon: "frameworks/astro",
    url: "https://astro.build/",
  },
  {
    title: "Vue",
    icon: "frameworks/vue",
    url: "https://vuejs.org/",
  },
  {
    title: "Gsap",
    icon: "frameworks/gsap",
    url: "https://gsap.com/",
  }
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Netlify",
    icon: "platforms/netlify",
    url: "https://www.netlify.com/",
  },
  {
    title: "Vercel",
    icon: "platforms/vercel",
    url: "https://vercel.com/",
  },
  {
    title: "Render",
    icon: "platforms/render",
    url: "https://render.com/",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
  }
];

const Backend: Array<CompatibilityItem> = [
  {
    title: "Node Js",
    icon: "platforms/nodejs",
    url: "https://nodejs.org/",
  },
  {
    title: "Django",
    icon: "platforms/django",
    url: "https://www.djangoproject.com/",
  },
  {
    title: "Expressjs",
    icon: "platforms/expressjs",
    url: "https://expressjs.com/",
  },
  {
    title: "Spring Boot",
    icon: "platforms/springboot",
    url: "https://spring.io/",
  },
];
---

<ContentSection title="Technologies" id="compatibility">
  <Fragment slot="lead">
    These are the <span class="text-primary">technologies</span>, That i have worked{" "}
    <span class="text-primary">with.</span>
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Frontend"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
  items={Backend}
  title="Backend"
  url="https://docs.astro.build/guides/deploy/"
/>
  <CompatibilityList
    items={platforms}
    title="Platforms"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
