---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Computer Engineer" id="intro">
  <Fragment slot="lead">
    I'm a Software Engineer!<br> Yup.
    <span class="text-primary">Thats it.</span>
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
  </div>
</ContentSection>
